/* font-family: 'Bungee Spice', cursive;
font-family: 'Roboto', sans-serif; */

:root {
    --color-gold: #bdae82;
    --color-black: #000;
    --color-white: #FFF;
    --color-Silver: #c8c8c8;
    --color-grey: #25282a;
    --color-azure: #71abff;
    --font1: 3.75rem;
    --font2: 2.5rem;
    --font3: 1.25rem;
    --font4: 1.1rem;
    --font5: 1.35rem;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: var(--color-grey);
    color: var(--color-white);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: 0.3s;
}

.container {
    max-width: 90rem;
    height: 100%;
    margin: 0 auto;
    padding: 1.25rem 1.25rem;
    display: flex;
    align-items: center;
}

/**=== header ===**/
h1 {
    font-family:  'Bungee Spice', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font1);
    line-height: 3rem;
    transition: 0.3s;
    margin: 0 auto;
}


/**=== slider ===**/

.slider {
    margin: 0 2rem;
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.radio {
    display: none;
}

.controls {
    display: flex;
    justify-content: end;
}

.memes {
    width: 500%;
    display: flex;
    transition: all 0.3s ease;
}

.meme {
    width: 100%;
}

.img {
    width: 100%;
    border-radius: 0.75rem;
}

.text {
    font-family:  'Bungee Spice', cursive;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font4);
    transform: translateY(2rem);
}

.controls {
    display: flex;
    justify-content: end;
}

.label {
    cursor: pointer;
    background-color: var(--color-grey);
    transform: translateY(0rem);
    z-index: 1;
}

.label div {
    height: 1.125rem;
    width: 1.125rem;
    margin: 0.625rem 0.25rem;
    display: block;
    background-color: var(--color-azure);
    border: 0.188rem var(--color-azure) solid;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.label:active div {
    opacity: 0.5;
}

.label:hover div {
    border: 0.188rem var(--color-white) solid;
    background-color: var(--color-white);
}

#slide1:checked~.controls #label1 div,
#slide2:checked~.controls #label2 div,
#slide3:checked~.controls #label3 div,
#slide4:checked~.controls #label4 div,
#slide5:checked~.controls #label5 div {
    border: 0.188rem var(--color-azure) solid;
    background-color: transparent;
}


#slide1:checked~.memes {
    transform: translateX(0);
}
#slide2:checked~.memes {
    transform: translateX(-20%);
}
#slide3:checked~.memes {
    transform: translateX(-40%);
}
#slide4:checked~.memes {
    transform: translateX(-60%);
}
#slide5:checked~.memes {
    transform: translateX(-80%);
}
.radio:checked~.controls .label:hover div {
    border: 0.188rem var(--color-white) solid !important;
}


/**=== footer ===**/

.footer__container-wrap {
    width: 100%;
    height: 100%;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1.25rem;
}

.footer__item-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.25rem;
    transition: 0.3s;
}

.footer__item {
    font-family:  'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: var(--font3);
    line-height: 3rem;
    transition: 0.3s;
}

.footer__item-a {
    margin-left: 1.25rem;
}

.footer__item a:link {
    color: var(--color-white);
}

.footer__item a:visited {
    color: var(--color-white);
}

.footer__item a:hover {
    color: var(--color-gold);
}

.footer__item a:active {
    color: var(--color-gold);
}


.rs_school-item {
    width: 6.25rem;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
    transition: 0.5s;
    filter: invert(100%);
}

.rs_school-item:hover {
    filter: invert(75%) sepia(7%) saturate(1280%) hue-rotate(7deg) brightness(92%) contrast(90%);
}

.social-nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 1.25rem;
}

@media (max-width: 768px) {
    .footer__container {
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin: 1rem 1.25rem;
    }
    .footer__item-wrap {
        justify-content: space-between;
        margin-left: 0;
    }
    h1 {
        font-size: var(--font2);
    }
    .container {

        padding: 0.25rem 1.25rem;
    }
}

@media (max-width: 640px) {
    .controls {
        justify-content: center;
        transform: translateY(0.25rem);
    }
    .text {
        transform: translateY(0.5rem);
    }

}
@media (max-width: 480px) {

    h1 {
        font-size: var(--font3);
    }
}
@media (max-width: 414px) {
    .footer__item {
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin: 0 auto;
    }


}